{%extends 'layout1.html'%}
{%block content%}

<div class="container">
    <div >
    <h1 align="center">We are Always Welcome.</h1>
    
    </div>
    <div class="card border m-2" style="margin:20px;">
        <h3 align="center">About us</h3>
        <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos maiores perferendis tenetur veniam, enim adipisci numquam ratione! Esse hic itaque, quod omnis eius quis corporis tempore sequi optio saepe architecto!</p>
    </div>
  <div class="container-fluid" style="width:70rem;">
    <div class="alert alert-dark" role="alert" style="text-align: center; margin-top: 300px; " >
      
      
        keep us in touch with:
        <div  >
        <span>
            <a href="https://mail.google.com/mail/u/0/#inbox">
                <img src="https://banner2.cleanpng.com/20190404/bwl/kisspng-computer-icons-email-clip-art-portable-network-gra-front-office-staff-colorado-eagles-5ca5a147867bf4.2168492915543585995509.jpg" alt="mail" height="30" width="30">

            </a>
            <a href="https://www.instagram.com/saichaithanya976/">
            <img src="https://img.freepik.com/premium-vector/modern-badge-logo-instagram-icon_578229-124.jpg?size=30&ext=jpg" alt="insta">

            </a>
        </span>
        <p  class="text-success">Contact:9052986557</p>
    </div>
      </div>
  </div>
    
      
      
    </div>
</div>

{%endblock%}